@import url("Theme.css");

#Book-Information-Block{
    display: flex;

    position: absolute;
    left:var(--BlockOffset);
    top:11vh;

    width: calc(62.5vw + 200px);
    height:80vh;

    background-color: var(--websitesecondColor);
    
    box-shadow: var(--contentBlock-shadow);

    padding: 25px;

    border-radius: 25px;

    box-sizing: border-box;
    line-height: 1.25em;
}

#Book-Img-Block{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12em;

    height:calc(80vh - 50px);
    width:calc((62.5vw + 200px) * 0.3 );
    background-color: rgb(219, 210, 255);
}

#Book-INF-Block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height:calc(80vh - 50px);
    width:calc((62.5vw + 200px) * 0.4);

    box-sizing: border-box;

    border-right:1.5px solid var(--websitebackground-color);
    border-left:1.5px solid var(--websitebackground-color);

    padding: 25px;
}

#Book-Name-Block{
    height: 2.5em;
    width:calc((62.5vw + 200px) * 0.4 - 50px);
    
    font-size: 1.5em;
    font-weight: bold;
    box-sizing: border-box;
    
    border-bottom:1.5px solid var(--websitebackground-color);
    user-select:text;

    padding: 5px;

    line-height: 1.25em;
}

#Book-ISBN-Block{
    width:calc((62.5vw + 200px) * 0.4 - 50px);
    box-sizing: border-box;
    padding: 5px;

    line-height: 1.25em;
}

#Book-Num-Block{
    box-sizing: border-box;
    width:calc((62.5vw + 200px) * 0.4 - 50px);
    padding: 5px;
}

#Book-Price-Block{
   
    width:calc((62.5vw + 200px) * 0.4 - 50px);
    box-sizing: border-box;
    padding: 5px;
}

#Book-Description-Block-Title{
    width:calc((62.5vw + 200px) * 0.4 - 50px);
    background-color: var(--websitebackground-color);

    color:var(--websitesecondColor);

    margin-top: 25px;
    box-sizing: border-box;
    padding: 5px;
    
}

#Book-Description-Block{
    width:calc((62.5vw + 200px) * 0.4  - 50px);
    box-sizing: border-box;
    padding: 5px;

    border:1px solid var(--websitebackground-color);

    
    
    word-wrap: break-word; /* Alias for overflow-wrap */
    overflow-wrap: break-word;
    hyphens: auto;
}

#Book-UserID-Block {
    font-size: 1.25em;
}
#Book-UserID-Block a{

    transition: all 0.1s;

    font-size: 1em;
    color:var(--textlink-color);
   
    text-decoration: none;

    &:hover{
        text-decoration:underline;
        cursor:pointer;
    }
}

#Book-User-INF-Block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    height:calc(80vh - 50px);
    width: calc((62.5vw + 200px) * 0.3);

    box-sizing: border-box;

    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}


#Order-Block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: calc((62.5vw + 200px) * 0.3  - 50px);


    box-sizing: border-box;
    margin-top: 25px;
}

#order-require-input{
    width: calc((62.5vw + 200px) * 0.3  - 50px);
    height: 40vh;

    margin-top: 30px;

    padding: 20px;

    border-radius:25px;

    background-color:var(--input-background-color);

    user-select: none;

    border:none;
    outline: none;
    resize:none;

    box-sizing: border-box;
    font-size: 1em;
    &:focus{
        border:2px solid var(--websitebackground-color);
    }
}



#button-number-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    height: 35px;

}

#order-number-input{
    width: 60px;
    height: 5vh;

    font-size: 1em;
    line-height: 1em;
    border:none;
    
    border-radius: 5px;
    background-color:var(--input-background-color);
    padding: 5px;
    box-sizing: border-box;
}

#Book-Order-Button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--linkBackground-color);

    border:none;
    border-radius: 30px;

    width: calc((62.5vw + 200px) * 0.15 - 80px);
    height: 5vh;

    font-size: 1em;

    color:var(--linkText-color);
    text-decoration:none;

    user-select: none;

    box-shadow: var(--linkshadow);

    margin-left: 15px;

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}
