@import url("Theme.css");

#Book-Information-Block{
    display: flex;

    position: absolute;
    left:10vw;
    top:calc(50px + 4vh);

    width: calc(80vw - 50px);
    height:calc(92vh - 100px);

    background-color: var(--websitesecondColor);
    
    box-shadow: var(--contentBlock-shadow);

    padding: 25px;

    border-radius: 25px;

    line-height: 1.25em;
}

#Book-Img-Block{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12em;

    height:calc(92vh - 100px);
    width:calc((80vw - 50px) * 0.35);
    background-color: rgb(219, 210, 255);
}

#Book-INF-Block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height:calc(92vh - 150px);
    width:calc((80vw - 100px) * 0.45 - 3px);
    

    border-right:1.5px solid var(--websitebackground-color);
    border-left:1.5px solid var(--websitebackground-color);

    padding: 25px;
}

#Book-Name-Block{
    height: 2.5em;
    width:calc((80vw - 115px) * 0.45);
    
    font-size: 1.25em;
    font-weight: bold;

    
    border-bottom:1.5px solid var(--websitebackground-color);
    user-select:text;

    padding: 5px;

    line-height: 1.25em;
}

#Book-ISBN-Block{
    width:calc((80vw - 115px) * 0.45);
   
    padding: 5px;

    line-height: 1.25em;
}

#Book-Num-Block{
    
    width:calc((80vw - 115px) * 0.45);
    padding: 5px;
}

#Book-Price-Block{
   
    width:calc((80vw - 115px) * 0.45);
  
    padding: 5px;
}

#Book-Description-Block-Title{
    width:calc((80vw - 115px) * 0.45);
    background-color: var(--websitebackground-color);

    color:var(--websitesecondColor);

    margin-top: 25px;

    padding: 5px;
    
}

#Book-Description-Block{
    width:calc((80vw - 115px) * 0.45 - 2px);
    
    padding: 5px;

    border:1px solid var(--websitebackground-color);

    
    word-wrap: break-word; /* Alias for overflow-wrap */
    overflow-wrap: break-word;
    hyphens: auto;
}

#Book-UserID-Block a{
    transition: all 0.1s;

    font-size: 1em;
    color:var(--textlink-color);
   
    text-decoration: none;

    &:hover{
        text-decoration:underline;
        cursor:pointer;
    }
}

#Book-User-INF-Block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    height:calc(92vh - 150px);
    width: calc((80vw - 75px) * 0.2);


    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Book-UserID-Block{

}

#Order-Block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: calc((80vw - 75px) * 0.2);


    
    margin-top: 25px;
}

#order-require-input{
    width: calc((80vw - 75px) * 0.2);
    height: 200px;

    margin-top: 30px;

    padding: 20px;

    border-radius:25px;

    background-color:var(--input-background-color);

    user-select: none;

    border:none;
    outline: none;
    resize:none;

    box-sizing: border-box;

    &:focus{
        border:2px solid var(--websitebackground-color);
    }
}



#button-number-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    height: 35px;

}

#order-number-input{
    width: 45px;
    height: 25px;

    font-size: 1em;
    line-height: 1em;
    border:none;
    
    border-radius: 5px;
    background-color:var(--input-background-color);
    padding: 5px;
}

#Book-Order-Button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--linkBackground-color);

    border:none;
    border-radius: 30px;

    width: calc((80vw - 75px) * 0.2 - 80px);
    height: 35px;

    font-size: 1em;

    color:var(--linkText-color);
    text-decoration:none;

    user-select: none;

    box-shadow: var(--linkshadow);

    margin-left: 10px;

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}
