@import url(Theme.css);

.ViewTabBlock{
    

    width:calc(37.5vw + 100px);
    height:calc(80vh * 0.9 - 50px);
}

.ViewTab{
    display: none;
    align-items: left;
    justify-content: space-between;

    flex-direction: column;

    position: absolute;


    width:calc(37.5vw + 100px);
    height:calc(80vh * 0.9 - 100px);

    background-color: var(--websitebackground-color);

    border-radius: 15px;

    padding: 25px;
    box-sizing: border-box;
    box-shadow: var(--contentBlock-inset-shadow);
}

.ViewTab .ViewTab{
    align-items: left;
    justify-content: space-between;
    
    flex-direction: column;
    background-color:transparent;
    width:calc(37.5vw + 50px);
    height:calc(80vh * 0.9 - 150px);

    padding: 0;
    box-sizing: border-box;
    box-shadow:none;
}

.ViewTab .order-view{
    justify-content: left; 
}

.order-view{
    justify-content: left;
}

.tab-btn-bar{
    position: absolute;
    bottom: 25px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    width:calc(37.5vw + 50px);
    height:5vh;
    
   
    border-radius: 30px;

    padding-left: 25px;
    padding-right: 25px;
}

.tab-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    width:5vh;
    height:5vh;

    border-radius: 30px;
    border:none;

    margin-left: 7.5px;
    margin-right: 7.5px;

    color:var(--linkText-color);

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    box-shadow: var(--linkshadow);

    &:hover{cursor: pointer;}
}

.btn-dotdotdot{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    width:calc(5vh - 15px);
    height:5vh;

    border-radius: 30px;
    border:none;

    margin-right: px;

    font-weight: bold;
    color:var(--websitebackground-color);
}

.ViewTab-Row{
    display: flex;
    align-items: left;
    justify-content: left;


    width:calc(37.5vw + 50px);
    height:calc((80vh * 0.9 - 175px) / 2);

    border-radius: 7.5px;
}

.goods-item-Block{
    display: flex;
    align-items: left;
    justify-content: space-between;

    flex-direction: column;

    width: 12.5vw;
    height:calc((80vh * 0.9 - 175px) / 2);

    box-sizing: border-box;

    border-radius:7.5px;

    background-color: var(--websitesecondColor);

    margin-left: 25px;

    box-shadow: var(--infContent-shadow);

    padding: 10px;

    transition: background-color 0.1s;
    
    &:hover{
        background-color: var(--contentBlock-hover-background-color);
        cursor:pointer;
    }
}

.goods-item-Block:first-child{
    margin-left: 0px;
}

.Book-Img-Block{

    display: flex;
    align-items: left;
    justify-content: center;


  
    font-size: 3.5em;

    border-bottom: 1px solid var(--websitebackground-color);

}

.Book-Name-Block{
    height: 2.5em;
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    padding: 5px;

   

    line-height: 1.25em;

    font-weight: bold;
}

.Book-ISBN-Block{
    line-height: 1.25em;

  
    padding: 5px;
    
}

.Book-PriceNumber-Block{
    display: flex;
    align-items: left;
    justify-content: space-between;

    
}

.Book-Price-Block,.Book-Number-Block{
    line-height: 1.25em;

    display: flex;
    align-items: left;
    justify-content: left;

    flex-direction: column;

    display: flex;
    align-items: left;
    justify-content: right;

    
 

    padding: 5px;

    
}

.Book-Description-Block{
    height:5em;
  
    line-height: 1.25em;

   
    overflow-wrap: break-word;
    hyphens: auto;
    padding: 5px;

    
    border-left: 1px solid var(--websitebackground-color);
}

.Book-Number-Price-Description-Block{
    display: flex;
    width:calc(12.5vw - 20px);
}

.Book-Number-Price-Block{
    display: flex;
    flex-direction: column;
    height:2.5em;
}


/*newgoods theme*/

.NewGoods-Book-Name-Block{height: calc(2.5em - 1px);}
.NewGoods-Book-ISBN-Block{height: calc(1.25em - 1px);}

.NewGoods-Book-Name-Block,.NewGoods-Book-ISBN-Block{
    border-bottom: 1px solid var(--websitebackground-color);
}

.NewGoods-Book-Number-Block,.NewGoods-Book-Price-Block{
    width:calc((12.5vw - 20px)  * 0.45 - 10px);
}

.Book-Description-Block{
    width:calc((12.5vw - 20px)  * 0.55 - 10px);
}
/*newgoods theme*/


/*MainPage theme*/
.MainPage-ViewTabBlock{
    width:calc(62.5vw + 150px);
    height:calc(80vh * 0.9 - 50px);
}

.MainPage-ViewTab{
    width:calc(62.5vw + 150px);
    height:calc(80vh * 0.9 - 100px);
}

.MainPage-ViewTab-Row{
    width:calc(62.5vw + 100px);
    height:calc((80vh * 0.9 - 175px) / 2);
}

#MainPage-tab-btn-bar{
    width:calc(62.5vw + 100px);
}
/*MainPage theme*/


.EditBookInf-Btn,.DeleteItem-Btn{
    display: none;

    position: absolute;

    width: 40px;
    height: 40px;

    background-color: rgb(43, 165, 226);

    border-radius: 30px;

    border:none;

    color:var(--linkText-color);

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor: pointer;
    }
}

.EditBookInf-Btn{transform:translate(calc(-5px + (50vw) / 3 * 0.5),calc(-10px + -1 * (92vh - 565px) / 2 * 0.5));}

.DeleteItem-Btn{transform:translate(calc(45px + (50vw) / 3 * 0.5),calc(-10px + -1 * (92vh - 565px) / 2 * 0.5));}


@keyframes Tab-Btn-Bar-disappear{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes Tab-Btn-Bar-display{
    0% {opacity: 0;}
    100% {opacity: 1;}
}