@import url(Theme.css);

@media(max-width:0px){
    #header{justify-content: space-around;}
}

@media(min-width:825px){
    #header{justify-content: right;}

    #header #HomeLink,
    #header #newGoodsLink,
    #header #UserPageLink,
    #header #LogoutLink,
    #header button{margin-left: 25px;}
    
    #DeveloperInformationBtn{
        position:absolute;
        left:calc(50vw - 3vh - 25px);
    }
    
 
}

#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height:8vh;

    padding-right: 25px;
    padding-left: 25px;

   

    box-sizing: border-box;

    

    user-select: none;

    
}

#header-bar{
    position: absolute;

    top:0;
    left:0;

    width: 100vw;
    height:8vh;
    background-color: var(--websitesecondColor);
    box-shadow: var(--contentBlock-shadow);

    z-index: 10;
}

#header #HomeLink,
#header #newGoodsLink,
#header #UserPageLink,
#header #LoginLink,
#header #LogoutLink,
#header button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--linkBackground-color);

    border-radius: 100px;

    font-size: 1em;

    color:var(--linkText-color);
    text-decoration:none;

    user-select: none;

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}

#header #System-Title{
    position: absolute;
    left: 25px;

    font-size: 2em;
    
    line-height: 2em;

    text-decoration: none;
    background-color: transparent;
    box-shadow: none;

    color:var(--websitebackground-color);

    z-index: 20;
}

#HomeLink,#UserPageLink,#LoginLink,#LogoutLink{
    width: max(7.5vw,6vh);
    height: 6vh;

    z-index: 20;
}

#newGoodsLink,#MailBoxBtn,#DeveloperInformationBtn{
    width: 6vh;
    height: 6vh;

    border:none;
    z-index: 20;
}


#MailBox{
    position: absolute;
    right:10vw;

    top:-60vh;
    height: 60vh;
    width:25vw;
    padding-bottom:25px;
    padding-left:25px;
    padding-right:25px;

    box-sizing: border-box;

    border-radius: 0 0 25px 25px;

    background-color: var(--websitesecondColor);
    box-shadow: var(--MailBoxShadow);
    transition: top 0.25s;

    z-index: 5;

    
}

#mailContentShadow{
    position: absolute;
    
    left: 25px;

    height: calc(60vh - 25px);
    width:calc(25vw - 50px);
    box-shadow: var(--MailBoxContentShadow);
    border-radius: 0 0 15px 15px;

    background-color: var(--websitebackground-color);
    
}

#mailContentContainer{
    position: absolute;
    top:0px;
    left: 25px;

    display:flex;

    align-items: center;
    flex-direction: column;
    height: calc(60vh - 25px);
    width:calc(25vw - 50px);
    
    padding-bottom: 10px;

    border-radius: 0 0 15px 15px;

    overflow-y: auto;

    box-sizing: border-box;
    z-index: 6;
}

#mailContentContainer::-webkit-scrollbar{
    width: 0;
}


.Mail-Row-Container{
    width:calc(25vw - 100px);
   

    padding: 10px;
    margin-top: 10px;

    border-radius: 5px;

    box-sizing: border-box;

    &:hover{
        background-color: var(--contentBlock-hover-background-color);
    }
}

.Mail-Row-Container .mail-link{
    font-size: 1em;
    color:var(--textlink-color);
   
    text-decoration: none;

    &:hover{
        text-decoration:underline;
        cursor:pointer;
    }
}

/*Developer Block*/
#DeveloperInfBlock{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 92vh;
    width: 100vw;

    left: 0;
    top:-92vh;

    background-color: var(--websitebackground-color);

    transition: top 0.25s;

    z-index: 5;
}


#developer-inf{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

   
    width: 25vw;

    border-radius: 25px;

    line-height: 1em;
}

#developer-inf #title,#developer-inf #item{
    display: flex;
    align-items: center;
    justify-content: center;
}

#developer-inf #title{
    background-color: var(--websitethirdColor);
    color: var(--websitesecondColor);

    height: 7.5vh;
    width: 25vw;

    border-radius: 25px 25px 0 0;

    font-size: 1.5em;
}

#developer-inf #item{
    background-color: var(--websitesecondColor);

    height: 5vh;
    width: 25vw;

    font-size: 1.25em;
}

#developer-inf #item:last-child{
    border-radius: 0 0 25px 25px;
}

#bottom-inf{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    background-color: var(--websitesecondColor);
    
    border-radius: 25px 25px 0 0;
 
    width: 60vw;
    height: 8vh;

    font-size: 1.25em;
}
/*Developer Block*/