@import url(Theme.css);



#searchBlock{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    top:11vh;
    right:var(--BlockOffset);
    height: 6vh;
    width:calc(62.5vw + 200px);

    

    box-sizing: border-box;

    user-select: none;
}

#search{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width:calc(62.5vw + 200px);

    padding-left: 5vw;
    padding-right: 5vw;

    box-sizing: border-box;
}

#querytext{
    width: 40vw;
    height: 6vh;

    padding-left: 25px;
    padding-right: 25px;
    font-size: 1em;
    
    border-radius:30px;
    box-sizing: border-box;

    border:none;
    outline: none;

    box-shadow: var(--input-shadow);

    background-color:var(--websitesecondColor);
}

#querybutton{
    position:absolute;
    right:calc(1vh + 5vw);
    top:1vh;
    width:5vw;
    height:4vh;

    border-radius: 30px;
    border:none;

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    font-size: 0.75em;
    color:var(--linkText-color);

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}

#SortSettingBlock{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
    height: 6vh;
    width: calc(12.5vw + 150px);

    padding-left: 25px;
    padding-right: 25px;

    background-color:var(--websitesecondColor);
    box-shadow: var(--contentBlock-shadow);
    
    border-radius:25px; 

    box-sizing: border-box;

    user-select: none;
}

#sort-type-block{
    display: flex;
    align-items: center;
    justify-content: left;

    height: 6vh;
    width: calc((12.5vw + 100px) * 0.2);

    
}

#price-ord-block{
    display: flex;
    align-items: center;
    justify-content: right;

    height: 6vh;
    width: calc((12.5vw + 100px) * 0.8);

   
}

#SortSettingBlock input[type="number"]{
    width: 6vw;
    height: 4vh;
    font-size: 1em;

    background-color:var(--websitebackground-color);
    color: var(--websitesecondColor);
    border-radius: 5px;

    border: none;
    outline: none;

    padding-left: 5px;
    padding-right: 5px;

    box-sizing: border-box;
}

#SortSettingBlock #SortType-input{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3vw;
    height: 4vh;
    font-size: 1em;

    border-radius: 5px;
    border: none;

    padding-left: 0px;
    padding-right: 0px;

    outline: none;

    background-color:var(--websitethirdColor);

    user-select: none;
    
    &:hover{cursor: pointer;}
}

#goodsBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;    
    
    left: var(--BlockOffset);
    bottom: 0;

    width:calc(62.5vw + 200px);
    height: 80vh;

    border-radius: 25px 25px 0 0;

    background-color: var(--websitesecondColor);

    box-shadow: var(--contentBlock-shadow);
    padding: 25px;

    box-sizing: border-box;

    user-select: none;
}

