@import url(Theme.css);



#searchBlock{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    top:11vh;
    left:0;
    height: 6vh;
    width: 100vw;

    user-select: none;
}

#querytext{
    width: 40vw;
    height: 6vh;

    padding-left: 25px;
    padding-right: 25px;
    font-size: 1em;
    
    border-radius:30px;
    box-sizing: border-box;

    border:none;
    outline: none;

    box-shadow: var(--input-shadow);

    background-color:var(--websitesecondColor);
}

#querybutton{
    position:absolute;
    right:calc(30vw + 1vh);
    top:1vh;
    width:5vw;
    height:4vh;

    border-radius: 30px;
    border:none;

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    font-size: 0.75em;
    color:var(--linkText-color);

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}

#goodsBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;    
    
    left: var(--BlockOffset);
    bottom: 0;

    width:calc(62.5vw + 200px);
    height: 80vh;

    border-radius: 25px 25px 0 0;

    background-color: var(--websitesecondColor);

    box-shadow: var(--contentBlock-shadow);
    padding: 25px;

    box-sizing: border-box;

    user-select: none;
}

