@import url(Theme.css);

@media(min-width:0px){
    #GoodsInfInputBlock{
        display: none;
    }

    #newGoodsList{
        width:calc(62.5vw + 150px);
    }
}

@media(min-width:1200px){
    #GoodsInfInputBlock{
        display: flex;
    }
    
    #newGoodsList{
        width:calc(37.5vw + 150px);
    }
}

#GoodsInfInputBlock{
    position: absolute;
    top:11vh ;

    left:var(--BlockOffset);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-size: 1em;

    width: 25vw;
    height:80vh;

    padding:25px;
    
    border-radius: 25px;

    box-sizing: border-box;

    background-color: var(--websitesecondColor);
    
    box-shadow: var(--contentBlock-shadow);

    user-select: none;
}

#GoodsInfInputBlock input{
    width: calc(max(7.5vw,6vh)*2 + 25px);
    height:6vh;

    margin-bottom: 30px;

    padding-left: 20px;
    padding-right: 20px;

    font-size: 1em;
    border-radius:30px;

    border:none;
    outline: none;

    background-color:var(--input-background-color);

    

    user-select: none;
    box-sizing: border-box;
    &:focus{
        border:2px solid var(--websitebackground-color);
        padding-left :18px;
    }
}

#StateBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(max(7.5vw,6vh)*2 + 25px);
    height:40px;
}

#GoodsInfInputBlock button{
    width: max(7.5vw,6vh);
    height: 6vh;


    border-radius: 30px;
    border:none;

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    font-size: 1em;
    color:var(--linkText-color);

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}



#GoodsInfInputBlock textarea{
    width: calc(max(7.5vw,6vh)*2 + 25px);
    height:20vh;

    margin-bottom: 30px;

    padding: 20px;

    border-radius:25px;

    background-color:var(--input-background-color);

    user-select: none;

    border:none;
    outline: none;
    resize:none;
    box-sizing: border-box;
    &:focus{
        border:2px solid var(--websitebackground-color);
      
    }
}

#newGoodsList{
    position: absolute;
    
    top:11vh ;
    right:var(--BlockOffset);

    height:80vh;

    box-sizing: border-box;
    padding:25px;

    border-radius: 25px;

    background-color: var(--websitesecondColor);
    
    box-shadow: var(--contentBlock-shadow);

    user-select: none;
}


.EditBookInf-Btn,.DeleteItem-Btn{
    position: absolute;

    width: 40px;
    height: 40px;

    background-color: rgb(43, 165, 226);

    border-radius: 30px;

    border:none;

    color:var(--linkText-color);

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor: pointer;
    }
}

.EditBookInf-Btn{transform:translate(50px,-75px);}

.DeleteItem-Btn{transform:translate(100px,-75px);}


#UploadButton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    width: max(7.5vw,6vh);
    height: 6vh;


    border-radius: 30px;
    border:none;

    position: absolute;
    right:50px;
    bottom:25px;

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor: pointer;
    }

}