:root{
    /*body*/
    --BlockOffset:calc((100vw - (62.5vw + 200px)) / 2);
    --websitebackground-color:rgb(45, 50, 55);
    --websitesecondColor:rgb(235, 235, 235);
    --websitethirdColor:rgb(80, 120, 180);
    /*body*/

    /*Header,content*/
    --contentBlock-hover-background-color:rgb(235, 240, 245);
    --infContent-shadow:0px 0px 5px 5px rgb(0,0,0,0.5);
    --contentBlock-shadow:0px 0px 5px 5px rgb(0,0,0,0.5);
    --contentBlock-inset-shadow:0px 0px 5px 5px inset rgb(0,0,0,0.5);
    /*Header,content*/

    /*ChatBlock*/
    --ChatRightUserBackgroundColor:rgb(80, 180, 150);
    --ChatLeftUserBackgroundColor:rgba(80, 120, 180);
    /*ChatBlock*/

    /*Cart*/
    --CartIconBackgroundColor:rgba(80,160,220,0.1);
    --CartIconHoverColor:rgba(80,160,220,0.2);
    
    --CartItemWarningBackgroundColor:rgba(255, 60, 60, 0.75);
    /*Cart*/

    /*links,submit,button,searchbar,input,mailbox*/
    --linkBackground-color:rgb(45, 50, 55);
    --linkBackground-hover-color:rgb(55, 60, 65);
    --linkText-color:aliceblue;
    --linkshadow: 0px 0px 5px 1.5px  rgb(0,0,0,0.5);

    --textlink-color:rgb(60, 150, 200);
    --textlink-hover-color:rgba(100, 170, 200, 0.1);
    --input-background-color:rgb(215,215,215);
    --input-shadow:0px 0px 5px inset rgb(0, 0, 0);

    --MailBoxShadow:0 5px 5px -5px rgb(0,0,0,0.25), 5px 0 5px -5px rgb(0,0,0,0.25), -5px 0 5px -5px rgb(0,0,0,0.25);
    --MailBoxContentShadow:0 0px 5px 5px inset rgb(0,0,0,0.25);
    --MailUnReadBackground:rgba(235, 240, 250, 0.9);
    --MailUnReadHoverBackground:rgba(235, 240, 250,1);

    --btnPageNow-Hover-backgroundColor:rgb(100, 140, 200);

    --accept-btn-background-color:rgb(70, 170, 120);
    --reject-btn-background-color:rgb(160, 40, 40);
    --complete-btn-background-color:rgb(255, 125, 80);
    /*links,submit,button,searchbar,input*/
}