:root{
    /*body*/
    --websitebackground-color:rgb(50, 50, 50);
    --websitesecondColor:rgb(235, 235, 235);
    /*body*/

    /*Header,content*/
    --infContent-shadow:0px 0px 0.5em inset rgb(50,50,50);
    --contentBlock-shadow:0px 0px 10px inset rgb(30, 30, 30),0px 0px 5px rgb(60, 60, 60);
    /*Header,content*/

    /*links,submit,button,searchbar,input*/
    --linkBackground-color:rgb(45,45,45);
    --linkBackground-hover-color:rgb(60,60,60);
    --linkText-color:aliceblue;
    --linkshadow: 0px 0px 5px  rgb(80, 80, 80);
    --textbar-shadow:0px 0px 10px inset rgb(40, 40, 40);
    --textlink-hover-color:rgb(60, 150, 200);
    --input-background-color:rgb(215,215,215);
    /*links,submit,button,searchbar,input*/

    /*goodsBlock*/
    --goodsBlock-shadow:0px 1px 10px inset rgb(30, 30, 30),0px 0px 5px rgb(60, 60, 60);
    /*goodslist*/
}