@import url(Theme.css);

@media(min-width:0px){
    #InformationBlock{width:calc(62.5vw + 150px);}

    #user_inf{display:none;}

    #InformationSelectList{display:none;}
}

@media(min-width:1200px){
    #InformationBlock{width:calc(37.5vw + 150px);}
}

@media(min-height:0px){
    #user_inf{display:none;}

    #InformationSelectList{display:none;}

    #InformationBlock{width:calc(62.5vw + 150px);}
}

@media(min-height:450px){
    #user_inf{
        display: flex;
        height:calc(92vh - 100px);
    }

    #InformationSelectList{display:none;}
}

@media (min-height:450px) and (min-width:1200px){
    #InformationBlock{width:calc(37.5vw + 150px);}
}

@media(min-height:680px){
    #user_inf{height:calc((max(4vh,30px) + max(5vh,40px)) * 3 + 100px);}

    #InformationSelectList{
        height:120px;
        display:flex;
    }
}

.Order-List-Block a{
    transition: all 0.1s;

    font-size: 1em;
    color:var(--textlink-color);
   
    text-decoration: none;

    &:hover{
        text-decoration:underline;
        cursor:pointer;
    }
}

#user_inf{
    position: absolute;
    
    top:11vh;
    left: var(--BlockOffset);

    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;

    font-size: 1em;

    width:25vw;

    padding:25px;
    
    box-sizing: border-box;

    border-radius: 25px;

    background-color: var(--websitesecondColor);
    
    box-shadow: var(--contentBlock-shadow);

    user-select: none;
}

.labelTitle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    height:max(4vh,30px);
    width: 5vw;


    margin-top: 25px;

    box-sizing: border-box;

    border-radius:15px 15px 0 0;

    font-weight: bold;
    color:var(--websitesecondColor);
    background-color:var(--websitebackground-color);
}

.labelTitle:first-child{margin-top: 0px;}

.labelContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

    height:max(5vh,40px);
    width:calc(25vw - 50px);

    box-sizing: border-box;

    padding: 0px 15px;

    border-radius: 0 15px 15px 15px;

    color:var(--websitebackground-color);
    background-color:var(--input-background-color);

    
}

#InformationBlock{
    position: absolute;
    
    top:11vh;
    right:var(--BlockOffset);  

    height:80vh;

    padding:25px;

    border-radius: 25px;

    background-color: var(--websitesecondColor);
    
    box-shadow: var(--contentBlock-shadow);

    box-sizing: border-box;

    user-select: none;
}

#profileEditURL{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    position: absolute;
    right:25px;
    bottom:25px;
    
    width:50px;
    height:50px;

    border-radius: 30px;


    text-decoration: none;

    background-color: var(--linkBackground-color);
    transition: background-color 0.1s;

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}


#InformationSelectList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    position: absolute;
    
    bottom:9vh;
    left: var(--BlockOffset);

    width: 150px;

    padding:25px;

    border-radius: 25px;

    background-color: var(--websitesecondColor);
    
    box-shadow: var(--contentBlock-shadow);

    user-select: none;
}

.ViewChange-Btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--linkBackground-color);

    border:none;
    border-radius: 30px;

    width: 150px;
    height: 35px;

    font-size: 1em;

    color:var(--linkText-color);
    text-decoration:none;

    user-select: none;

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}

/*OrderView*/
.Order-List-Block{
    display: flex;
    flex-wrap: wrap;

    align-items: left;
    justify-content: left;
    
    width:calc(37.5vw + 50px);
    height:calc((80vh * 0.9 - 150px) / 5 - 4vh / 5);

    margin-top: 1vh;
    
    border-radius:7.5px;
   

    background-color: var(--websitesecondColor);

    box-shadow: var(--infContent-shadow);

    box-sizing: border-box;
    padding: 10px;

    transition: background-color 0.1s;

    &:hover{
        background-color: var(--contentBlock-hover-background-color);
    }
}

.Order-List-Block:first-child{margin-top: 0px;}

.Order-List-OrderID-Block,
.Order-List-UserId-Block,
.Order-List-OrderTime-Block,
.Order-List-State-Block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: calc((37.5vw + 30px) * 0.3);
}

.Order-List-OrderID-Block{
    width: calc((37.5vw + 30px) * 0.1);
}


.Order-List-State-Block{
    border-radius: 5px;
    color: var(--websitesecondColor);
    background-color: var(--websitethirdColor);
}

.Order-List-State-Block:has(.Order-List-Btn){
    background-color: transparent;
    color: var(--websitebackground-color);
    justify-content: right;
}


.Order-List-Btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border:none;
    border-radius: 30px;

    width: 60px;
    height: 30px;

    margin-right: 10px;

    font-size: 1em;

    color:var(--linkText-color);
    text-decoration:none;

    user-select: none;

    box-shadow: var(--linkshadow);

    &:hover{
        background-color:  var(--linkBackground-hover-color);
        cursor:pointer;
    }
}

.ord-list-btn-accept{background-color: var(--accept-btn-background-color);}
.ord-list-btn-reject,.ord-list-btn-terminate{background-color: var(--reject-btn-background-color);}
.ord-list-btn-complete{background-color: var(--complete-btn-background-color);}
/*OrderView*/